@import "tailwindcss";
@import "flyonui/variants.css";
@plugin "flyonui";
@source "./node_modules/flyonui/flyonui.js";

@font-face {
    font-family: 'InterVariable';
    src: url('/static/font-files/inter/Inter-VariableFont_opsz,wght.ttf') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

@theme{
    --font-sans: InterVariable, sans-serif;
    --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}
