<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
<div class="w-full overflow-x-auto">
    <table class="table">
        <thead>
        <tr>
            <th>Registry</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Data</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for associate in associates %}
        <tr class="row-hover">
            <td>{{ associate.registry }}</td>
            <td>{{ associate.fullname }}</td>
            <td>{{ associate.email }}</td>
            <td><span class="badge badge-soft badge-success text-xs">ativo</span></td>
            <td>{{ associate.created_at }}</td>
            <td>
                <button class="btn btn-circle btn-text btn-sm" aria-label="Action button"><span class="icon-[tabler--pencil] size-5"></span></button>
                <button class="btn btn-circle btn-text btn-sm" aria-label="Action button"><span class="icon-[tabler--trash] size-5"></span></button>
                <button class="btn btn-circle btn-text btn-sm" aria-label="Action button"><span class="icon-[tabler--dots-vertical] size-5"></span></button>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
</body>
</html>